[user]
	email = github@joehorsnell.com
	name = Joe Horsnell
[status]
	short = true

[alias]
    codb = !git checkout $(git db)
    db = !git symbolic-ref refs/remotes/origin/HEAD --short | cut -d \"/\" -f 2
